
*.xcuserstate
Apple Calc.xcodeproj/project.xcworkspace/xcuserdata/simplexory.xcuserdatad/UserInterfaceState.xcuserstate
Apple Calc.xcodeproj/project.xcworkspace/xcuserdata/simplexory.xcuserdatad/UserInterfaceState.xcuserstate
Apple Calc.xcodeproj/project.xcworkspace/xcuserdata/simplexory.xcuserdatad/UserInterfaceState.xcuserstate
Apple Calc.xcodeproj/project.xcworkspace/xcuserdata/simplexory.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
